@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* 
  font-awesome - cdn: https://cdnjs.com/libraries/font-awesome/4.7.0
  font-awesome - 검색: https://fontawesome.com/v4.7/icons/

  https://youtu.be/FJjLXEDWKMg?t=1783
  29:43/1:15:19
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sansserif;
}

:root{
  --black: #333;
  --black2: #333;
  --white: #fff;
  --white2: #fff;
}

body{
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

.navigation{
  position: fixed;
  width: 300px;
  height: 100%;
  /* point1: 경계선 처리하는 방법(rgba) */
  border-right: 1px solid rgba(0,0,0, 0.05);
  background: var(--white2);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.navigation ul {
  border: 1px solid orange;
  position: relative;
  top: 0;
  left:0;
  padding: 20px 40px;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
}

.navigation ul li a{
  position: relative;
  display: block;
  width: 100%;
  margin: 10px 0px;
  /* [?] white-space */
  white-space: nowrap;
  display: flex;
  /* point2: 글자 예쁘게 표기하는 방법(letter-spacing, opacity) */
  text-transform: uppercase;
  text-decoration: none;
  color: var(--black);
  font-weight: 500;
  letter-spacing: 2px;
  opacity: 0.5;
}

.navigation ul li a:hover{
    opacity: 1;
}

.main {
  position: absolute;
  /* point3: layout잡는 방법(왼쪽, 오른쪽), (calc) */
  width: calc(100% - 300px);
  left: 300px;
  background: var(--white);
  min-height: 100vh;
  transition: width 0.5s, left 0.5s;
}

.main.active{
  width: calc(100% - 0px);
  left: 0px;
}

.main .topbar {
  position: fixed;
  top: 0px;
  width: calc(100% - 300px);
  left: 300px;
  background: var(--white2);
  border-bottom: 1px solid rgba(0,0,0, 0.05);
  height: 60px;
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  transition: width 0.5s, left 0.5s;
}

.main .topbar.active {
  width: calc(100% - 0px);
  left: 0px;
}

.main .topbar .logo{
  color: var(--black);
  font-weight: 700;
  text-decoration: none;
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.main .topbar .toggle{
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: var(--black)
}

section{
  position: relative;
  min-height: 100vh;
}

.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.banner .content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner .imgBx {
  /* 사진 조절 하는 방법 */
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 20px;
}

.banner .imgBx img{
  /* 사진 조절 하는 방법 */
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  /* height: 100%; */
  object-fit: contain;
}

h3{
  position: relative;
  font-size: 1.5em;
  color: var(--black);
  letter-spacing: 2px;
  text-transform: uppercase;

}

p{
  color: #777;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  background: var(--black2);
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 10px;
  text-decoration: none;
}

.socialMedia{
  position: absolute;
  bottom: 20px;
  display: flex;
}

.socialMedia li{
  list-style: none;
}

.socialMedia li a{
  display: inline-block;
  width: 40px;
  height: 40px;
  background: rgba(0,0,0, 0.05);
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--black);
  font-size: 1
}

.socialMedia li a:hover{
  background: var(--black2);
  color: #fff
}