.containerCenter{
  display: flex;
  justify-content: center;
  align-items: center;
  background: orange;
  width: 100%;
  margin: 0 auto;
}

.container{
  display: flex;
  height: 50px;
  width: 300px;
  position: relative;
  overflow: hidden;
}

#nth1{
  background: midnightblue;
  width: 300px;
  z-index: 100;
}
#nth2{
  background: yellow;
  width: 100px;
  position: absolute;
  right: 0px;
  height: 100%;
  display: flex;
  z-index: 10;

  opacity: 0;
  transition: 1s;
}
#nth2 #edit{
  background: mediumseagreen;
  width: 50%;
}
#nth2 #del{
  background: mediumvioletred;
  width: 50%;
}